### Custom ###
# 含明文的库/中间件/COS/SMTP 凭据，禁止入库；模板见各文件内的 ${ENV} 占位说明
src/main/resources/application-local.yml
src/main/resources/application-prod.yml
src/main/resources/application-docker.yml


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
